# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Local override files (not for version control)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file (optional to ignore, useful for remote teams)
.terraform.lock.hcl

# Lock info file from `terraform apply`
.terraform.tfstate.lock.info

# Ignore terraform plan output files
*.tfplan

# CLI configuration files
.terraformrc
terraform.rc
